.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: whitesmoke; /* Background color */
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Drop shadow for a subtle effect */
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem; /* Font size for the title */
  display: flex;
  align-items: center; /* Align items vertically */
}

.navbar .logo {
  margin-right: 0.5rem; /* Space between the logo and the text */
  height: 40px; /* Adjust the height of the logo as needed */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: rgb(18, 83, 235);
  color: white; /* Text color on hover */
}
