.services {
    padding: 20px;
  }
  
  .services h2 {
    color: #333;
  }
  
  .services p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .scroll-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .scroll-image {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .scroll-image.visible {
    left: 0;
    opacity: 1;
  }
  